.bg {
    .dashboard {

        .value_group {

            display: grid;
            grid-template-columns: repeat(5, 1fr); // 5개의 열을 동일한 너비로 설정
            gap: 10px; // 아이템 간 간격 설정
            padding: 20px;

            .item {
                border: 1px solid #ccc;
                padding: 10px;
                margin-bottom: 20px; // 항목 간의 간격을 추가
                text-align: center; // 텍스트를 가운데 정렬
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .bad_item {
                color: red
            }
        }
    }

    .controller {
        display: flex;
        gap: 20px;
        justify-content: space-evenly;

        .stat_group {
            display: flex;
            flex-direction: column;
            row-gap: 5px;

            .stat_item {
                display: flex;
                gap: 5px;

                .stat_title {
                    width: 150px;
                }
            }
        }
    }
}