.bg {
  width: 100%;

  table {
    width: 100%; // 테이블 너비를 화면 전체로 설정
    border-collapse: collapse; // 테이블 셀 간의 경계 없앰

    thead {
      background-color: #f2f2f2; // 헤더의 배경색 설정 (선택사항)

      th {
        text-align: center; // 헤더 텍스트 중앙 정렬
        padding: 10px; // 헤더 셀 안의 여백 추가
        border: 1px solid #ccc; // 셀 경계 추가
      }
    }

    tbody {
      tr {
        td {
          text-align: center; // 행의 텍스트 중앙 정렬
          padding: 10px; // 셀 안의 여백 추가
          border: 1px solid #ccc; // 셀 경계 추가
        }

        .click_td {
          &:hover {
            cursor: pointer;
          }
        }
      }

      tr:nth-child(even) {
        background-color: #f9f9f9; // 짝수 행에 배경색 설정 (선택사항)
      }
    }
  }
}

@media (max-width: 768px) {
  .bg {
    width: 100%;

    table {
      width: 100%; // 테이블 너비를 화면 전체로 설정
      border-collapse: collapse; // 테이블 셀 간의 경계 없앰
      font-size: smaller;

      thead {
        background-color: #f2f2f2; // 헤더의 배경색 설정 (선택사항)

        th {
          text-align: center; // 헤더 텍스트 중앙 정렬
          padding: 2px; // 헤더 셀 안의 여백 추가
          border: 1px solid #ccc; // 셀 경계 추가
        }
      }

      tbody {
        tr {
          td {
            text-align: center; // 행의 텍스트 중앙 정렬
            padding: 1px; // 셀 안의 여백 추가
            border: 1px solid #ccc; // 셀 경계 추가
          }

          .click_td {
            &:hover {
              cursor: pointer;
            }
          }
        }

        tr:nth-child(even) {
          background-color: #f9f9f9; // 짝수 행에 배경색 설정 (선택사항)
        }
      }
    }
  }
}
