.bg {
  display: flex;
  justify-content: center;
  align-items: center;

  .profile_img {
    width: 150px;
    /* 원하는 이미지 크기 */
    height: 150px;
    /* 가로 세로 동일하게 */
    border-radius: 50%;
    /* 이미지를 원형으로 만들기 위한 설정 */
    object-fit: cover;
    /* 이미지가 컨테이너에 꽉 차도록 */
    border: 2px solid #ccc;
    /* 원형의 테두리(선택사항) */
  }
}
