.bg {
  .table_box {
    overflow: auto;
    .base_table {
      width: 100%;
      border-collapse: collapse;

      .table_header {
        background-color: aliceblue;
      }

      .table_header_cell {
        font-weight: bold;
        padding: 10px;
        border-bottom: 3px solid red;
        cursor: pointer;
      }

      .table_body {
        width: 100%;

        .table_row {
          border: 1px solid gray;
        }

        .table_cell {
          padding: 5px;
          border: 1px solid gray;
        }
      }
    }
  }

  .pagination_controls {
    margin-top: 5px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: small;
    width: 100%;
    justify-content: end;

    button {
      height: 30px;
    }

    .page_size_selector {
      height: 30px;
    }

    .active_page {
      background-color: #007bff;
      color: white;
      font-weight: bold;
      border-color: #007bff;
    }
  }
}
